
.headings {
  font-family: Bungee Inline;
  color: rgba(162, 99, 55, 1);
  text-decoration: none;
}

.normal-text {
  font-family: Bungee;
  color: #FFF;
  font-size: large;
}

/*top slider on home page*/

.carousel-item {
  height: 100vh;
  opacity: 1;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.carousel-caption {
  bottom: 270px;
}

.carousel-caption h5 {
  font-size: 60px;
  color: rgba(162, 99, 55, 1);
  text-transform: uppercase;
  font-family: Bungee Inline;
  letter-spacing: 2px;
  margin-top: 25px;
}

.carousel-caption p {
  width: 75%;
  font-family: Bungee;
  margin: auto;
  font-size: 20px;
  line-height: 1.9;
}

.navbar-light .navbar-brand {
  color: rgba(162, 99, 55, 1);
  font-size: 25px;
  text-transform: uppercase;
  font-family: Bungee Inline;
  font-weight: bold;
  letter-spacing: 2px;
}

.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
  color: #fff;
}

.navbar-light .navbar-nav .nav-link {
  color: #fff;
}

.navbar-toggler {
  background: #fff;
}

.navbar-nav {
  text-align: center;
}

.nav-link {
  padding: .2rem 1rem;
}

.nav-link.active,.nav-link:focus{
  color: #fff;
}

.navbar-toggler {
  padding: 1px 5px;
  font-size: 18px;
  line-height: 0.3;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: rgba(162, 99, 55, 1);
}

.bigImg {
  align-items: center;
  width: 292.174px;
  height: 475px;
  flex-shrink: 0;
  border: 3px solid #FFF;
}

#testbox{
  height: auto;
  color: #FFF;
  margin-left: auto;
  margin-right: auto;
}

#testbox2{
  height: auto;
  color: #FFF;
  margin-left: auto;
  margin-right: auto;
  background-color: #2d2d2dbb;
  border: 3px solid rgba(162, 99, 55, 1);
}

#Indevidual {
  margin-left: auto;
  margin-right: auto;
}

.card-img {
  padding: 5px;
  background-color: rgba(162, 99, 55, 1);
  object-fit: fill;
}

#container1 {
  border-radius: 50px;
  height: auto;
  padding-bottom: 30px;
  border: 5px solid #000;
  background: rgba(196, 196, 196, 0.10);
  margin-top: 100px;
}
#container2 {
  border-radius: 50px;
  height: auto;
  padding-bottom: 30px;
  border: 5px solid #000;
  background: rgba(196, 196, 196, 0.10);
  margin-top: 30px;
}

#topheading1 {
  border-radius: 50px;
  height: auto;
  border: 5px solid #000;
  background: rgba(162, 99, 55, 0.8);;
  margin-top: 30px;
  text-align: center;
  font-family: Bungee Inline;
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #000;
}

.pupularHeading {
  font-family: Bungee Inline;
  color: rgba(162, 99, 55, 1);
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

#testbox2:hover {
  border: 3px solid #198754;
}

#testbox:hover {
  background-color: rgba(162, 99, 55, 1);
  color: #FFF;
}

#footer-container{
  background-color: #000;
  
}

#svg-center{
  margin-left: auto;
  margin-right: auto;
}

.form-input{
  border: 3px solid rgba(162, 99, 55, 1);
  font-family: Bungee;
  padding: 5px;
  border-radius: 5px;
}
.form-input2 {
  border: 3px solid rgba(162, 99, 55, 1);
  font-family: Bungee;
  padding: 7px;
  border-radius: 5px;
  width: 700px;
  height: auto;
  margin-bottom: 9px;
}

#Form-btn-login{
  border: 1px solid white;
  font-family: Bungee;
  background-color: rgba(162, 99, 55, 1);
}
#Form-btn-login:hover {
  background-color: green;
}
#Form-btn-SignUp {
  border: 1px solid white;
  font-family: Bungee;
  background-color: #2D2D2D;
  margin-right: 8px;
}
#Form-btn-SignUp:hover {
  background-color: rgba(162, 99, 55, 1);
}

/* Login Stylings testing css */
.login_container {
	width: 100%;
	min-height: 100vh;
	
}

.login_form_container {
	width: 900px;
	height: 500px;
	display: flex;
	border: 3px solid #DEF81D;
	border-radius: 10px;
}

.left {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #373737;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

.form_container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.form_container h1 {
	font-size: 40px;
	margin-top: 0;
}

.Form_center {
	margin-top: 9%;
}

.input {
	outline: none;
	border: none;
	width: 370px;
	padding: 15px;
	border-radius: 10px;
	background-color: #edf5f3;
	margin: 5px 0;
	font-size: 14px;
}

.error_msg {
	width: 370px;
	padding: 15px;
	margin: 5px 0;
	font-size: 14px;
	background-color: #f34646;
	color: white;
	border-radius: 5px;
	text-align: center;
}

.right {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #0A0A0A;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

/* SignUp Stylings testing css */
.signup_container {
	width: 100%;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.signup_form_container {
	width: 900px;
	height: 500px;
	display: flex;
	border: 3px solid #DEF81D;
	border-radius: 10px;
}

.file-input-Community {
	width: auto;
	height: auto;
  }

  /* ProfileDropdown */
  .profile-banner {
    height: 100px;
    width: 100%;
    border-radius: 10px 10px 0px 0px;
    overflow: hidden;
    background-size: cover;
    background-position: center;
  }
  
  .profile-avatar {
    width: 75px;
    height: 75px;
    margin-left: -5px;
    border-radius: 10px;
    border: 5px solid lightgrey;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    transform: translate(0%, -50%);
  }
  
  .nav-profile-pic {
    width: 35px;
    border-radius: 50%;
    overflow: hidden;
  }
  
  .dropdown .btn:hover {
    color: #FFF;
    background-color: #2d2d2dbb;
    border-color: #2d2d2dbb;
    box-shadow: 0 0 0 2px rgba(162, 99, 55, 1);
  }
  
  .dropdown-item:focus, .dropdown-item:hover {
    color: #2d2d2dbb;
    background-color: transparent;
    cursor: pointer;
  }
  
  .dropdown {
    display: inline-block;
    justify-content: end;
  }
  
  .btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active {
    color: #FFF;
    background-color: #2d2d2dbb;
    border-color: rgba(162, 99, 55, 1);
  }
  

  .dropdown .dropdown-menu {
    border: 3px solid rgba(162, 99, 55, 1);
    margin-top: 10px;
    background-color: #2d2d2d;
    border-radius: 10px;
    padding: 0;
    overflow: hidden;
    padding: 20px 0;
    text-align: end;
  }
  
  .dropdown-item {
    color: rgba(162, 99, 55, 1);
    font-size: 14px;
  }
  
  .user-dropdown {
    border-radius: 30px;
    padding: 5px 15px 5px 5px;
    border: 1px solid rgba(162, 99, 55, 1);
    color: #FFF;
    font-size: 20px;
    font-family: Bungee;
    align-items: center;
    display: flex;
    background-color: #2d2d2dbb;
  }
  
  .user-dropdown span {
    margin-left: 10px;
    font-family: Bungee;
    text-transform: uppercase;
  }
  
  .dropdown-toggle::after {
    display: none;
    content: "";
  }
  
  .profile-dropdown-links a {
    color: #fff;
    text-decoration: none;
    display: block;
    margin-right: 20px;
  }
  
  .profile-dropdown-links a:hover {
    color: rgba(162, 99, 55, 1);
  }
  
 
  
  
  
  
  
  
  
 
  
 